.todos-single {
    display: flex;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background: linear-gradient(to right, #373b44, #4286f4);
    align-items: center;
}

.todos-single-text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    width: 220px;
    border-radius: 8px;
}

.todos-single-text:focus {
    outline: none;
}

.edit-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-submit-btn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    border-radius: 50%;
    height: 23px;
    border: none;
    background-color: #373e4c;
    color: white;
    font-size: 8px;
    box-shadow: 0 0 3px black;
}

.edit-submit-btn:hover {
    cursor: pointer;
    background-color: #3f7ad8;
    color: white;
}

.icon-wrapper {
    position: relative;
    top: 4px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.edit-icon {
    position: relative;
    margin-right: 5px;
    margin-left: 12px;
}

.edit-icon:hover {
    color: rgb(212, 139, 0);
}

.delete-icon:hover {
    color: rgb(212, 0, 0);
}

.isDone-icon:hover {
    color: rgb(0, 212, 0);
}

@media screen and (max-width: 991px) {
    .input {
        width: 95%;
    }

    .todos {
        width: 100%;
    }

    .todos-single {
        width: 85%;
    }
}