.infobox {
    margin: 2rem 0;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    font-size: 0.85rem;
    border-radius: 4px;
  }
  
  .infobox-hint {
    color: white;
    font-size: 16px;
  }
  
  .infobox-warning.warning--low {
    border: 1px solid var(--low-warning-color);
    color: var(--low-warning-color);
  }
  .infobox-warning.warning--medium {
    border: 1px solid var(--medium-warning-color);
    color: var(--medium-warning-color);
  }
  .infobox-warning.warning--high {
    border: 1px solid var(--high-warning-color);
    color: var(--high-warning-color);
  }