:root {
  --clr-3: #ffc640;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-4: #8c00a5;
  --blur: 1rem;
  --fs: clamp(1rem, 8vw, 5rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
  --main-color: #dfc75b;
  --info-color: #96f5f7;
  --low-warning-color: #f6d84f;
  --medium-warning-color: #fca635;
  --high-warning-color: #f97373;
}
